@use "../../basic/" as *;

.TopMenu {
  z-index: 3;
  position: absolute;
  inset: 0;
  bottom: initial;
  height: 100px;
  display: grid;
  align-items: end;

  .container {
    padding: 0 pg(400);
    border-bottom: 1px solid clr(primary, fg);
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: relative;
    width: 211px;
    height: 80px;
    border-radius: 25px;
    background: url("../../../pics/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: a_opacity 2s;
  }

  .menu {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    padding-top: 100px;
    background: clr(TopMenu, mobile_menu_bg);
    color: clr(TopMenu, text);
    transform: translateY(-100%);
    transition: opacity 500ms;
    opacity: 0;
    &.open {
      transform: translateY(0);
      opacity: 1;
      nav {
        transition: opacity 250ms 125ms;
        opacity: 1;
      }
    }
    &.closed {
      transition: opacity 800ms, transform 0ms 600ms;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    transition: opacity 500ms;
    opacity: 0;

    .sublinks {
      display: flex;
      flex-direction: column;
    }

    a,
    .title {
			padding: pg(100);
			font-size: fs(300);
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      text-transform: uppercase;
			text-align: center;
    }
    .title {
      display: none;
    }
  }
}
