@use "../../basic/" as *;

.TopMenu {
  z-index: 2;
  position: absolute;
  inset: 0;
  bottom: initial;
  height: 100px;
  display: grid;
  align-items: end;
  padding: 0 pg(400);

  .container {
    border-bottom: 1px solid clr(primary, fg);
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: relative;
    width: 211px;
    height: 80px;
    border-radius: 25px;
    background: url("../../../pics/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
		animation: a_opacity 2s;
  }

  .menu {
    display: grid;
    position: fixed;
    inset: 0;
    padding-top: 100px;
    background: clr(TopMenu, mobile_menu_bg);
    color: clr(TopMenu, text);
  }

  nav {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow-y: auto;

    a,
    .title {
      user-select: none;
      text-decoration: none;
      font-size: fs(300);
      white-space: nowrap;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      padding: pg(100) 0;
      text-align: center;
      transition: background-color 0.2s, text-sahdow 0.2s;

      &:hover {
        background: clr(TopMenu, hover_bg);
        text-shadow: clr(TopMenu, text) 0px 0px 10px;
      }
    }

    .title {
      display: none;
    }

    .links {
      display: flex;
      flex-direction: column;
    }
  }
}

