@use "../../basic/" as *;

.VanyasaFlow {
  background: url("../../../pics/pages/VinyasaFlow/ornament.png");
	background-position: center 100px;
	background-repeat: no-repeat;
	background-size: 100%;

  .p1 {
    > div {
      display: grid;
      @include gap(md);
    }
  }
  .p2 {

    .box1,
    .box2 {
      display: grid;
      @include gap(md);
      .content {
        display: flex;
        flex-direction: column;
        @include gap(sm);
      }
    }
  }
}
