@use "../../basic/" as *;

.VanyasaFlow {

  .p1 {
    > div {
      display: grid;
      @include gap(md);
    }
  }
  .p2 {
    .images1,
    .images2 {
      display: none;
    }

    .box1,
    .box2 {
      display: grid;
      @include gap(md);
      .content {
        display: flex;
        flex-direction: column;
        @include gap(sm);
      }
    }
  }
}
