@use "../basic/" as *;

.StarContainer {
  display: grid;
  @include gap(md);
  img {
    width: 100%;
  }

  &::before,
  &::after {
    content: "";
    height: 28px;
    width: 100%;
    background: url("../../pics/star2.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  &:after {
    background-position: left;
  }
}

