.Page {
  display: grid;
  justify-content: center;
}
.page {
  display: grid;
  @include gap(lg);
  align-content: flex-start;
  padding: pg(400);
  padding-top: calc(100px + var(--pg-600));
  min-height: 100vh;
  max-width: 1000px;
  @include mq(md) {
    transition: background 1s;
  }
}
.list {
  display: grid;
  @include gap(md);

  &.flex {
    display: flex;
    flex-wrap: wrap;
    p {
      flex: 1 1 400px;
    }
  }
}
h1 {
  font-family: "Philosopher", sans-serif;
  font-size: fs(600);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.App {
	animation: a_opacity 1.5s;
  &.bg-100 {
    background: clr(primary, bg-100);
  }
  &.bg-200 {
    background: clr(primary, bg-200);
  }
  &.bg-300 {
    background: clr(primary, bg-300);
  }
  @keyframes a_opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
