$font-base: 1rem;
$padding-base: 1rem;
$scale-font: 1.333;
$scale-padding: 1.333;
$media-scale: 1.02;

$gaps: (
	sm: var(--pg-200),
	md: var(--pg-400),
	lg: var(--pg-600),
);
$breakpoints: (
  sm: 600px,
  md: 850px,
  lg: 1100px,
);
@import "mixins";
@import "colors";
@import "globals";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital," + "wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
  @include base-root;
}
:root {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size: fs(200);
}
html * {
  max-height: 1000000px;
}
body {
  padding: 0;
  margin: 0;
  color: clr(primary, fg);
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

button,
textarea,
input,
a {
  color: clr(primary, fg);
  outline: none;
}
