$font-base: 1rem;
$padding-base: 1rem;
$scale-font: 1.333;
$scale-padding: 1.333;
$media-scale: 1.02;

$gaps: (
  sm: var(--pg-200),
  md: var(--pg-400),
  lg: var(--pg-600),
);

$breakpoints: (
  sm: 550px,
  md: 850px,
  lg: 1100px,
);
