@use "../../basic/" as *;

.BusinessYoga {
  background-size: initial;
  @include mq(md) {
    .p1 {
      grid-template-columns: 1.2fr 1fr;
      .title {
        white-space: nowrap;
      }
    }
    .p2 {
      padding-top: pg(700);
      display: grid;
      @include gap(lg);
      .images {
        display: grid;
        grid-auto-flow: column;
        @include gap(md);
        img:nth-child(2n) {
          align-self: flex-end;
          margin-top: pg(600);
        }
      }
			.content{
				grid-template-columns: 1fr 1fr;
				p:nth-child(2){
					grid-column: 1/2;
					grid-row: 2/3;
				}
			}
    }
  }
}
