@use "../../basic/" as *;
.PrivateYoga {
  position: relative;
  padding-bottom: calc(pg(400) * 2);
  padding-top: pg(600);
  &:before,
  &:after {
    position: absolute;
    content: "";
    height: 28px;
    width: calc(50vw + 14px);
    background: clr(primary, line),
      url("../../../pics/star.png") no-repeat right;
  }
  &::before {
    top: calc(100px + pg(400));
  }
  &::after {
    transform: translateX(calc(100% - 28px)) rotate(180deg);
    bottom: pg(400);
  }
  .ornament {
		z-index: 1;
    position: absolute;
    inset: 0;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
		max-width: 100%;
    width: 100%;
    img {
      width: 100%;
    }
    img:first-of-type {
      opacity: 0.2;
    }
    img:last-of-type {
      position: absolute;
      inset: 0;
      filter: blur(10px);
      animation: ornament 10s alternate infinite;
    }
  }
  @keyframes ornament {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  h1 {
    position: relative;
    text-align: center;
  }
  .p1,
  .p2 {
    display: grid;
    @include gap(md);
  }
  .images1,
  .images2 {
    display: none;
  }
}
