@use "../../basic/" as *;

.PrivateYoga {
  @include mq(md) {
    &::before,
    &::after {
      background: url("../../../pics/star.png") no-repeat right;
    }
    h1 {
			position: relative;
      text-transform: initial;
      text-align: left;
      &::before {
				position: absolute;
				top: -0.4em;
				left: 0.10em;

        content: "";
        height: 28px;
        width: 28px;
        background: url("../../../pics/star.png");
      }
      span {
        text-transform: initial;
      }
    }
    img {
      width: 100%;
    }
    button {
      justify-self: center;
    }
    .p1 {
      grid-auto-flow: column;
      grid-template-columns: 1fr 1.5fr;
    }

    .p2 {
      // padding-top: pg(700);
      position: relative;
      &:before {
        content: "";
        background: url("../../../pics/star.png"), clr(primary, line);
        background-repeat: no-repeat, repeat;
        position: absolute;
        height: 28px;
        width: calc(((100vw - 100%) / 2) + 25%);
        right: calc((100vw - 100%) / -2);
      }
    }
  }
}
