@use "../../basic/" as *;

.WellnessCoaching {
  padding-bottom: pg(400);
  h1 {
    text-align: center;
  }
  img.center {
    width: 100%;
  }
  .ornament {
    justify-self: center;
    &:last-of-type {
      transform: rotate(180deg);
    }
    max-width: 450px;
    width: 100%;
  }
  .p1 {
    display: grid;
    @include gap(lg);
    div {
      display: grid;
      @include gap(md);
    }
  }
  .inOrnament {
    display: none;
  }
}
