@use "../../basic/" as *;

.About {
  background: url("../../../pics/pages//About/ornament.png");
  background-repeat: no-repeat;
  background-position: right 100px;
	padding-bottom: pg(400);
  img {
    width: 100%;
  }
  .about,
  .yoga,
  .yoga > .p1,
  .yoga > .p2,
  .yoga > .p2 > .container,
  .energy {
    display: grid;
    @include gap(md);
  }
  .yoga {
    .p2 .container {
      > div {
        display: grid;
        gap: pg(100);
        align-content: flex-start;
        > div {
          width: max-content;
          height: max-content;
          padding: 5px;
          text-align: center;
          border-radius: 100%;
          box-shadow: clr(primary, fg) 0px 0px 1px 1px;
        }
      }
    }
  }
  .energy {
    div {
      display: grid;
      @include gap(md);
    }
  }
  .credentials {
    display: grid;
    @include gap(lg);
		h1{
			font-size: fs(600);
		}
    .images {
      display: flex;
			flex-wrap: wrap;
      @include gap(lg);
      justify-content: center;
    }
    img {
			flex: 0 0 250px;
    }
  }
}
